@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;600;700&display=swap');

body{

	background-color: white;

}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.wrapper{

	max-width: 1920px;
	justify-content: center;
    margin: 0 auto;

}

h1, h2, h3, h4, h5 p a ul li{

	color: rgb(30, 30, 110);
	font-family: 'Heebo', sans-serif;

}

.tesitmonial-slider{

	padding: 3rem 0.5rem 3rem 0.5rem;

}

.wp-block-quote p{

	color: rgb(30, 30, 110);

}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
    height: 120px;
    width: 29rem;

}


.wpforms-field-medium{

	padding-right: 10rem;


}

.onsale{

	display: none;

}

.new-releases-products-preview{

	// padding-top: 2rem;
	// margin-bottom: 4rem;

}

.mens-womens-intro{

	// position: relative;
	// top: -30rem;

	position: absolute;
	top: 0;
	// widows: 100%;

}

.new-releases-products-preview{

	padding-top: 8.25rem;
	padding-bottom: 8.25rem;

}



@mixin CtaHeadingStyling {

	font-size: 7rem;
	color: white;
	font-family: "Heebo", sans-serif;
	font-weight: 600;
	text-transform: uppercase;

}

.new-releases-img{

	position: relative;

}

.new-releases-img h1{
	@include CtaHeadingStyling();
	text-align: center;
	width: 100%;
	position: absolute;
	top: 9rem;


	// left: 23rem;

}

// .new-releases-hdr{

// 	@include CtaHeadingStyling();


// 	position: absolute;
// 	top: 106rem;
// 	left: 23rem;

// }



.on-sale-hdr{

	@include CtaHeadingStyling();
	position: absolute;
	top: 174rem;
	left: 33rem;
	text-align: center;
	// justify-content: center;

}

.accessories-hdr{

	@include CtaHeadingStyling();
	position: absolute;
	top: 256rem;
	left: 25rem;
	text-align: center;
	// justify-content: center;

}

.make-an-account-hdr{

	@include CtaHeadingStyling();
	position: absolute;
	top: 305rem;
	left: 16rem;
	text-align: center;

}


.wp-block-quote{

	font-size: 1.5rem;
	padding-right: 2rem;
	padding-left: 2rem;
	text-align: center;
	font-family: 'Heebo', sans-serif;
	color: rgb(00, 23, 93);
}

.new-releases-preview-text h1{

	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 1rem;


}

.new-releases-preview-text p{

	float: right;

}

.new-releases-preview-text{

	justify-content: center;

}

.on-sale-preview-text{

	justify-content: center;

}

.on-sale-preview-text h1 {
    font-family: "Heebo", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 1rem;

}


// .wp-block-quote cite{

// 	position: absolute;
// 	bottom: 5px;
// 	text-align: center;


// }

.sticky {
	display: block;
}

// .site-main{

// 	background-color:  rgb(0, 23, 93);;

// }


// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;

	
}

.entry-content{

	padding-bottom: 10rem;

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.mens-womens-img{

	width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    object-fit: cover;


}

.yvr-wear{


	color:  white;
	padding-left: 7rem;
	padding-top: 8rem;
	font-size: 7rem;
	font-family: 'Heebo', sans-serif;
	font-weight: 600;
	text-transform: uppercase;

}

.mask {


background-color: black;
width: 100%;
height: auto;


}

.mask img{

	
	opacity: 0.6;


}

.new-releases-mask{

	background-color: black;
	width: 100%;
	height: auto;

}

.new-releases-mask img{

	opacity: 0.6;

}

.on-sale-mask{

	background-color: black;
	width: 100%;
	height: auto;

}

.on-sale-mask img{

	opacity: 0.6;

}

.accessories-mask{

	background-color: black;
	width: 100%;
	height: auto;

}

.accessories-mask img{

	opacity: 0.6;

}

.make-an-account-mask{

	background-color: black;
	width: 100%;
	height: auto;

}

.make-an-account-mask img{

	opacity: 0.6;

}


.new-releases-products-preview .onsale {

	display: none;

}

ul.products.columns-4 li.product img{

	width: 150px;
	height: auto;


}

ul.products.columns-4 li.product h2{

	font-size: 1rem;
	inline-size: 150px;
	overflow-wrap: break-word;
	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	color: rgb(00, 23, 93);

}

.new-releases-preview-text{

	display: flex;
	position: relative;


}

.new-releases-preview-text p{

	position: absolute;
    top: 0.5rem;
    right: 23rem;

}

.on-sale-preview-text{

	display: flex;
	position: relative;

}

.on-sale-preview-text p{

	position: absolute;
    top: 0.5rem;
    right: 21rem;

}


.product{

	display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-right: 2rem;

}

.new-releases-products{

	justify-content: center;

}

.footer-content h2{

	color: white

}

.footer-content ul li a{

	color: white;


}

.footer-content li{

	list-style: none;

}


.site-footer{

	background-color: rgb(00, 23, 93);
	padding-top: 2rem;
	padding-bottom: 5rem;
	margin: 0;


}


.footer-content{

	display: flex;
	justify-content: center;
    padding-right: 5rem;

}

.left-footer-content{

	padding-right: 2rem;

}

.middle-footer-content{

	padding-right: 2rem;

}

.second-middle-footer-content{

	padding-right: 2rem;

}

.footer-social-medias{

	display: flex;

}

.footer-social-medias{

	padding-top: 1.5rem;

}

.footer-social-medias li{

padding-right: 0.7rem;

}

.right-footer-content{

	padding-top: 1rem;

}

// @media screen and (max-width: 1523px) {
	
	

// }


.woocommerce-products-header__title.page-title{

	display: none;

}

.woocommerce-breadcrumb{

	display: none;

}

// .woocommerce-products-header img{

// 	opacity: 0.8;

// }

// .woocommerce-products-header{

// 	background-color: black;

// }

.woocommerce-result-count{

	display: none;

}

.woocommerce-ordering{

	text-align: center;
	padding-top: 5rem;
	padding-bottom: 2rem;

}

.orderby{

	position: relative;
	left: -22.2rem;

}

.widget-area{

	display: none;

}

.woocommerce-pagination {
    padding-right: 6.5rem;
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
}

.page-numbers{

	display: flex;

}

.woocommerce-pagination li {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.term-description{

	display: none;

}

.entry-title{

	text-align: center;
	padding-top: 2rem;
	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;

}

.woocommerce-MyAccount-navigation{

	text-align: center;
	padding-right: 5rem;

}

.woocommerce-MyAccount-content{

padding: 5rem 10rem 10rem 10rem;

}

#post-22{

    margin-left: auto;
    margin-right: auto;
    width: 30rem;

}

.coupon{

	padding-top: 3rem;
	padding-left: 2rem;

}

.cart_totals{

	// margin-left: auto;
    // margin-right: auto;
    // width: 90rem;

}

.input-text{

	margin-bottom: 1rem;

}


.cart-collaterals{

	text-align: center;

}

.cart_totals{

	margin-left: auto;
    margin-right: auto;
    width: 20rem;

}

// .designers-emails .designers-phone-numbers .designers-websites{

// 	display: flex;

// }


.designers-social-medias{

	padding-top: 10rem;

}

.designers-gallery li{

padding-bottom: 5rem;


}

.designers-gallery{

	padding-right: 2rem;


}

// .designers-biographies{

// 	padding-left: 5rem;

// }

.designer-page-content{


	display: flex;
	justify-content: center;
padding-right: 6rem;

}

.designers-wrapper{

	padding-top: 2.75rem;
	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	color: rgb(00, 23, 93);
}

.about-us-paragraph{

	inline-size: 500px;
	overflow-wrap: break-word;
	float: right;

	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	color: rgb(00, 23, 93);
	padding-left: 5rem;

}

form.checkout.woocommerce-checkout {

	
    margin-left: auto;
    margin-right: auto;
    width: 30rem;

}

.woocommerce-info{
color:	rgb(00, 23, 93) ;

	margin-left: auto;
    margin-right: auto;
    width: 30rem;
	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;
	text-align: center;

}