@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;600;700&display=swap');

body{

	background-color: white;
	overflow-x: hidden;

}

.wrapper{


	max-width: 1920px;
	justify-content: center;
    margin: 0 auto;

}

h1, h2, h3, h4, h5 p a ul li{

	color: rgb(30, 30, 110);
	font-family: 'Heebo', sans-serif;

}

.tesitmonial-slider{

	padding: 3rem 0.5rem 3rem 0.5rem;

}

.wp-block-quote p{

	color: rgb(30, 30, 110);

}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
    height: 120px;
    width: 29rem;

}


.wpforms-field-medium{

	padding-right: 10rem;


}

.onsale{

	display: none;

}

.mens-womens-intro{

	position: absolute;
	top: 4rem;
    left: 6rem;

}

@media screen and (min-width: 1024px){
.new-releases-products-preview{

	padding-top: 8.25rem;
	padding-bottom: 8.25rem;

}
}

.new-releases-img{

	position: relative;

}

.cta-intro{

	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -25%);
	white-space: nowrap;

}

.on-sale-hdr{

	@include CtaHeadingStyling();
	position: absolute;
	top: 174rem;
	left: 33rem;
	text-align: center;

}

.on-sale-img{

	position: relative;
	text-align: center

}

.wp-block-quote{

	font-size: 1.5rem;
	padding-right: 2rem;
	padding-left: 2rem;
	text-align: center;
	font-family: 'Heebo', sans-serif;
	color: rgb(00, 23, 93);
}

.new-releases-preview-text h1{

	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 1rem;

}

@media screen and (max-width: 1024px){

	.new-releases-preview-text h1{

		font-size: 1.25rem;

	}

	.on-sale-preview-text h1{

		font-size: 1.25rem;		

	}

	.new-releases-preview-text p {

		font-size: 0.75rem;

	}
}

.new-releases-preview-text p{

	float: right;

}

.new-releases-preview-text{

	justify-content: center;

}

.on-sale-preview-text{

	justify-content: center;

}

.on-sale-preview-text h1 {
    font-family: "Heebo", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 1rem;

}

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;

	
}

.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images[style] {
	opacity: 100% !important;
	width: 30rem;
	height: auto;
	padding-top: 7rem;
	padding-bottom: 10rem;
	margin: auto;

}
  

@media screen and (max-width: 520px){
	
.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images[style] {
	opacity: 100% !important;
	width: 20rem;
	height: auto;
	padding-top: 7rem;
	padding-bottom: 10rem;
	margin: auto;

}
}

div.summary.entry-summary > form > button{


	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
	left: -2rem

}

div > div > p.return-to-shop > a{

	margin: auto;

}

.entry-content{

	padding-bottom: 10rem;

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.mens-womens-img{

	width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    object-fit: cover;
	position: relative;


}

.yvr-wear{


	color:  white;
	font-size: 7rem;
	font-family: 'Heebo', sans-serif;
	font-weight: 600;
	text-transform: uppercase;

}

@media screen and (max-width: 1089px){

	.yvr-wear{

		font-size: 6rem;

	}

	.mens-button{

		font-size: 1rem;
		padding: 0.6rem 2.25rem;

	}

	.womens-button{

		font-size: 1rem;
		padding: 0.6rem 1.75rem;
		
	}
}

@media screen and (max-width: 949px){

	.yvr-wear{

		font-size: 5rem;

	}

	.mens-button{

		font-size: 0.75rem;
		padding: 0.5rem 1.8rem;

	}

	.womens-button{

		font-size: 0.75rem;
		padding: 0.5rem 1.3rem;
		
	}
}

@media screen and (max-width: 800px){

	.yvr-wear{

		font-size: 4rem;
		padding-bottom: 1rem;

	}

	.mens-button{

		font-size: 0.65rem;
		padding: 0.5rem 1.7rem;

	}

	.womens-button{

		font-size: 0.65rem;
		padding: 0.5rem 1.2rem;
		
	}

	.mens-womens-intro{

		top: 6rem;

	}
}


@media screen and (max-width: 689px){

	.yvr-wear{

		font-size: 3.5rem;
		padding-bottom: 1rem;

	}

	.mens-button{

		font-size: 0.5rem;
		padding: 0.4rem 1.5rem;

	}

	.womens-button{

		font-size: 0.5rem;
		padding: 0.4rem 1rem;
		
	}
}

@media screen and (max-width: 620px){

	.yvr-wear{

		font-size: 3rem;
		padding-bottom: 1.5rem;

	}

	.mens-button{

		font-size: 0.45rem;
		padding: 0.35rem 1.4rem;

	}

	.womens-button{

		font-size: 0.45rem;
		padding: 0.35rem 0.9rem;
		
	}

	.mens-womens-intro{

		left: 4rem;
	
	}

}



@media screen and (max-width: 505px){


	.yvr-wear{

		font-size: 2.5rem;
		padding-bottom: 2rem;

	}

	.mens-button{

		font-size: 0.4rem;
		padding: 0.3rem 1.1rem;

	}

	.womens-button{

		font-size: 0.4rem;
		padding: 0.3rem 0.6rem;
		
	}

.mens-womens-intro{

	left: 3rem;

}

}

@media screen and (max-width: 1437px){

	.wp-block-quote p{

		inline-size: 40rem;
		overflow-wrap: break-word;
		margin-right: auto;
    	margin-left: auto;
	}
}

@media screen and (max-width: 1056px){

	.wp-block-quote p{

		inline-size: 30rem;
		overflow-wrap: break-word;
		margin-right: auto;
    	margin-left: auto;
	}
}



@media screen and (max-width: 827px){

	.wp-block-quote p{

		font-size: 1rem;
		inline-size: 20rem;
		overflow-wrap: break-word;

	}

	.wp-block-quote cite{

		font-size: 1rem;
		inline-size: 20rem;
		overflow-wrap: break-word;

	}

}


@media screen and (max-width: 500px){

	.wp-block-quote p{

		font-size: 0.75rem;

	}

	.wp-block-quote cite{

		font-size: 0.75rem;

	}

}

@media screen and (max-width: 500px){

	.wp-block-quote p{
    inline-size: 15rem;
    overflow-wrap: break-word;
	}
}

.accessories-img{

	position: relative;


}


.make-an-account-img{

	position: relative;


}

.hdr{

	@include CtaHeadingStyling();
	text-align: center;
}

.new-releases-cta-intro{

	position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -25%);
    white-space: nowrap;

}

.new-releases-products-preview .onsale {

	display: none;

}

ul.products.columns-4 li.product img{

	width: 150px;
	height: auto;

}

@media screen and (max-width: 1024px){

	ul.products.columns-4 li.product img{

		width: 80px;
		height: auto;	

	}	

	#primary > div > section.new-releases-products-preview > div.new-releases-products > div > ul{

		padding-left: 2rem;

	}

	#primary > div > section.on-sale-products-preview > div > ul{

		padding-left: 2rem;

	}

.price{

	font-size: 0.7rem;

}

}

@media screen and (min-width: 600px){
ul.products.columns-4 li.product h2 {

	font-size: 1rem;

}
}


ul.products.columns-4 li.product h2{

	font-size: 0.7rem;
	inline-size: 80px;
	overflow-wrap: break-word;
	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	color: rgb(00, 23, 93);

}

.new-releases-preview-text{

    display: flex;
    position: relative;
    max-width: 54%;
	margin-right: auto;
    margin-left: auto;

}
@media screen and (min-width: 1563px) {
.new-releases-preview-text p{

	position: absolute;
    top: 0.5rem;
    right: 1rem;
}
}

@media screen and (min-width: 1024px) {

	.new-releases-preview-text p{
		position: absolute;
		top: 3.5rem;
	}
}  

@media screen and (max-width: 1024px) {

	.new-releases-preview-text p{

		position: absolute;
		top: 2rem;	

	}

	.on-sale-preview-text p{

		position: absolute;
		top: 2rem;	

	}
}


.on-sale-preview-text{

	display: flex;
    position: relative;
	max-width: 54%;
    margin-right: auto;
    margin-left: auto;

}

@media screen and (min-width: 600px) {
.new-releases-preview-text{

	margin-top: 5rem;

}

.on-sale-preview-text {

	margin-top: 5rem;

}
}

@media screen and (max-width: 1024px) {

	.on-sale-preview-text p{

			font-size: 0.75rem;
	}
}  

.product{

	display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-right: 2rem;

}

.new-releases-products{

	justify-content: center;

}

.footer-content h2{

	color: white

}

.footer-content ul li a{

	color: white;


}

.footer-content li{

	list-style: none;

}


.site-footer{

	background-color: rgb(00, 23, 93);
	padding-top: 2rem;
	padding-bottom: 5rem;
	margin: 0;


}

.footer-content{

	justify-content: center;

}

@media screen and (min-width: 415px){


	.footer-content {
		display: flex;
		padding-right: 5rem;
	}
	
}


.footer-social-medias{

	display: flex;

}

.footer-social-medias{

	padding-top: 1.5rem;

}

.footer-social-medias li{

padding-right: 0.7rem;

}

.right-footer-content{

	padding-top: 1rem;

}

#primary > header{

	position: relative;

}

.woocommerce-products-header__title.page-title{

    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -25%);
    white-space: nowrap;
	font-size: 7rem;
	color: white;
	font-family: "Heebo", sans-serif;
	font-weight: 600;
	text-transform: uppercase;

}

.woocommerce-breadcrumb{

	display: none;

}

.woocommerce-result-count{

	display: none;

}

.woocommerce-ordering{

	text-align: center;
	padding-top: 5rem;
	padding-bottom: 2rem;

}


.widget-area{

	display: none;

}

.woocommerce-pagination {
    padding-right: 6.5rem;
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
}

.page-numbers{

	display: flex;

}

.woocommerce-pagination li {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.term-description{

	display: none;

}

.entry-title{

	text-align: center;
	padding-top: 2rem;
	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;

}

div.summary.entry-summary > h1{

	max-width: 35rem;
	text-align: left;

}

div.summary.entry-summary{

	padding-left: 5rem;

}

div.woocommerce-tabs.wc-tabs-wrapper > ul{

	display: none;

}

div.summary.entry-summary > form > table{

	max-width: 35rem;
	text-align: left;

}


@media screen and (max-width: 505px){

	div.summary.entry-summary h1{

		font-size: 1.5rem;
		
	}
	#author{

		max-width: 10.5rem;

	}
	#email{

		max-width: 10.5rem;

	}

	 div.summary.entry-summary{

		position: relative;
    	left: -1.25rem;

	 }

	 div.summary.entry-summary{

		position: relative;
    	left: -1.25rem;

	 }

	div.woocommerce-tabs.wc-tabs-wrapper{

		padding-right: 1rem;
    	position: relative;
    	left: -1.25rem;

}
}

div.summary.entry-summary > form > table > tbody > tr > td > a{

	padding-left: 0.5rem;

}

div.summary.entry-summary > form > div > div.woocommerce-variation-add-to-cart.variations_button > button{

	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
    left: -2rem;

}

div.woocommerce-tabs.wc-tabs-wrapper{

	padding-left: 5rem;
	padding-right: 5rem;

}

@media screen and (max-width: 505px){

	div.woocommerce-tabs.wc-tabs-wrapper {

		padding-right: 0.5rem;

	}

	div.summary.entry-summary > div > span.posted_in{

		font-size: 0.75rem;

	}

	div.summary.entry-summary > form > table > tbody > tr > th > label{

		font-size: 0.75rem;

	}

	#size{

		font-size: 0.75rem;

	}

	div.summary.entry-summary > form > table > tbody > tr > td > a{

		font-size: 0.75rem;

	}

	#tab-description > p{

		font-size: 0.75rem;

	}

	#tab-additional_information > table > tbody > tr{

		font-size: 0.75rem;

	}

	div.woocommerce-tabs.wc-tabs-wrapper h2{


		font-size: 1.25rem;

	}

	div.woocommerce-tabs.wc-tabs-wrapper p{

		font-size: 0.75rem;

	}
}

#tab-description{

	padding-top: 2rem;
	padding-bottom: 2rem;

}

#tab-additional_information{

	padding-bottom: 2rem;

}



@media screen and (min-width: 505px){


	section.related.products{

		padding-left: 5rem;
	
	}	
	
}

section.related.products{

	padding-left: 3rem;
	font-size: 0.8rem;

}

section.related.products img{

	width: 150px;
	height: auto;

}



section > ul > li.product.type-product.post-357.status-publish.first.instock.product_cat-mens.product_cat-mens-shorts.product_cat-on-sale.product_cat-products.has-post-thumbnail.sale.taxable.shipping-taxable.purchasable.product-type-variable{

	max-width: 150px;

}

.woocommerce-loop-product__title{

	max-width: 150px;
	font-size: 1rem;

}

.woocommerce-MyAccount-navigation{

	text-align: center;
	padding-right: 5rem;

}

.woocommerce-MyAccount-content{

padding: 5rem 10rem 10rem 10rem;

}

#post-22{

    margin-left: auto;
    margin-right: auto;
    width: 30rem;

}

.coupon{


	display: none;

}

div > div > form > table > tbody > tr:nth-child(4) > td > button{

	display: none;

}

 div > div > form > table > tbody > tr:nth-child(2) > td > button{

	position: absolute;
	right: 2.1rem;
    padding: 0.55rem 0.9rem;
	margin-top: 6rem;

}


@media screen and (max-width: 1025px){

	
div > div > form > table > tbody > tr:nth-child(2) > td > div > button{

	position: relative;
    right: -3rem;
	top: -0.95rem;
}
	
}

@media screen and (min-width: 1025px){

	div > div > form > table > tbody > tr:nth-child(2) > td > div > button{

		margin-top: 0;
		position: relative;
		bottom: -0.05rem;
	
	}

}

@media screen and (max-width: 767px){

	div > div > form > table > tbody > tr.woocommerce-cart-form__cart-item.cart_item > td.product-thumbnail{

		text-align: center;
		padding-bottom: 2rem;

	}

	div > div > form > table > tbody > tr.woocommerce-cart-form__cart-item.cart_item > td.product-name{
		
		padding-left: 2rem;
    	padding-right: 2rem;

	}	
	
	div > div > form > table > tbody > tr.woocommerce-cart-form__cart-item.cart_item > td.product-price{

		padding-left: 2rem;
    	padding-right: 2rem;


	}

	div > div > form > table > tbody > tr.woocommerce-cart-form__cart-item.cart_item > td.product-quantity{


		padding-left: 2rem;
    	padding-right: 2rem;

	}
	div > div > form > table > tbody > tr.woocommerce-cart-form__cart-item.cart_item > td.product-subtotal{

		padding-left: 2rem;
    	padding-right: 2rem;

	}

	div > div > form > table > tbody > tr.woocommerce-cart-form__cart-item.cart_item > td.product-remove > a{

		padding-right: 2rem;

	}

}

@media screen and (max-width: 392px){

	div > div > div.cart-collaterals > div{

		width: 15rem;

	}


}


div > div > div.cart-collaterals > div > table > tbody > tr.cart-subtotal > td{

	text-align: right;

}

div > div > div.cart-collaterals > div > table > tbody > tr.woocommerce-shipping-totals.shipping > td{

	text-align: right;

}

div > div > div.cart-collaterals > div > table > tbody > tr.tax-total > td, div > div > div.cart-collaterals > div > table > tbody > tr.order-total > td{

	text-align: right;

}

div > div > div.cart-collaterals > div > div > a{

	margin: auto;

}

.input-text{

	margin-bottom: 1rem;

}


.cart-collaterals{

	text-align: center;

}

.cart_totals{

	margin-left: auto;
    margin-right: auto;
    width: 20rem;
	margin-top: 10rem;
    margin-bottom: 10rem;

}

.designers-social-medias{

	padding-top: 10rem;

}

.designers-gallery li{

	padding-bottom: 5rem;

}

.designer-page-content{

	justify-content: center;
	padding-right: 6rem;

}

.designers-wrapper{

	padding-top: 2.75rem;
	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	color: rgb(00, 23, 93);
}

.about-us-paragraph{

	inline-size: 500px;
	overflow-wrap: break-word;
	float: right;

	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	color: rgb(00, 23, 93);
	padding-left: 5rem;

}
@media screen and (min-width: 505px) {
form.checkout.woocommerce-checkout {

	
    margin-left: auto;
    margin-right: auto;
    width: 30rem;

}
}

@media screen and (max-width: 505px) {
form.checkout.woocommerce-checkout {

    width: 10rem;
	margin: auto;
	position: relative;
    left: -1rem;

}

#billing_country{

	width: 11.9rem;

}

#billing_state{

	width: 11.9rem;

}

#shipping_country{

	width: 11.9rem;

}

#shipping_state{

	width: 11.9rem;

}

#order_comments{

	width: 11.9rem;

}

}

.woocommerce-info{
color:	rgb(00, 23, 93) ;

	margin-left: auto;
    margin-right: auto;
    width: 30rem;
	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;
	text-align: center;

}


@media screen and (min-width: 900px){

.left-footer-side{

	display: flex;

}

.right-footer-side{

	display: flex;

}

.back-to-home-btn {

	padding: 1rem 2rem 1rem 2rem;

}
}

@media screen and (max-width: 900px){

	.left-footer-content {

		margin-bottom: 5.5rem;

	}
}

@media screen and (max-width: 508px){

	#post-22 {
    
		width: 18rem;

	}
	
}

@media screen and (max-width: 612px){

	.left-footer-content {
		margin-bottom: 6.5rem;
	}
	
}

@media screen and (max-width: 568px){

	.left-footer-content {
		margin-bottom: 7.75rem;
	}
	
}

@media screen and (max-width: 557px){

	.left-footer-content {
		margin-bottom: 9.75rem;
	}
	
}

@media screen and (max-width: 552px){

	.right-footer-content {
		padding-top: 3.5rem;
	}

	.back-to-home-btn{

		font-size: 0.75rem;

	}
}

@media screen and (max-width: 415px){

	.footer-content {
    
		width: 18rem;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		left: -1rem;

	}

	.middle-footer-content {
		position: relative;
		top: -7rem;
	}

	.second-middle-footer-content {
		padding-right: 2rem;
		position: relative;
		top: -6rem;
	}

	.right-footer-content {
		padding-right: 2rem;
		position: relative;
		top: -8rem;
	}

	
}



.left-footer-content{

	padding-right: 2rem;

}

.middle-footer-content{

	padding-right: 2rem;

}

.second-middle-footer-content{

	padding-right: 2rem;

}


#post-13 .entry-content{

	position: relative;

}

#post-13 .woocommerce{

text-align: center;

}


@media screen and (max-width: 396px) {

#post-13 > div > div > form > p:nth-child(2){

	display:flex;
	flex-direction:column;

}

#password{

	max-width: 13rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

}

#post-13 > div > div > form > p.woocommerce-LostPassword.lost_password{

	padding-bottom: 4rem;

}


#post-13 > div > div > form{

	position: relative;
		
}


@media screen and (max-width: 535px) {

	#post-19 > div > div > div{

		width: 300px;
		height: 300px;

	}

}

@media screen and (max-width: 1160px) {

	#post-19 > div > div > div{

		width: 300px;
		height: 300px;

	}

	.hdr {

		font-size: 5rem;

	}

}

@media screen and (max-width: 1020px) {

	.hdr {

		font-size: 4rem;

	}

}

@media screen and (max-width: 835px) {

	.hdr {

		font-size: 3rem;

	}

}

@media screen and (max-width: 524px) {

	.hdr {

		font-size: 2.5rem;

	}

}

@media screen and (max-width: 480px){

	.hdr{

		font-size: 2rem;

	}

}


@media screen and (max-width: 1160px) {

	.whole-designer-page-content{

		position: relative;
	
	}
	
	.about-us-paragraph{
	
		position: absolute;
		bottom: 4rem;
		text-align: center;
	
	}

	.designers-wrapper{

		padding-bottom: 15rem;

	}
}


@media screen and (max-width: 480px) {
.about-us-paragraph{
	
	inline-size: 21rem;
	overflow-wrap: break-word;
	font-size: 0.75rem;

}

}

@media screen and (min-width: 666px) {
.designers-gallery {
    padding-right: 2rem;
}
}

@media screen and (max-width: 666px) {

	.designers-biographies{

		position: absolute;

	}

	.designers-wrapper{

		position: relative;
    	bottom: -11rem;
		padding-bottom: 25rem;
		text-align: center;



	}

	#primary > div > div > div > div.designers-wrapper{

		right: -2.5rem;

	}

	#primary > div > div > div > div.designers-wrapper > div.designers-wrapper{

		right: -0.3rem;

	}

	#primary > div > div > div > div.designers-biographies > ul > li:nth-child(1) > img{


		max-width: none;
    	padding-bottom: 12rem;
    	width: 200px;

	}


}

.designer-page-content {
  
	display: flex;

}

@media screen and (max-width: 400px) {

	.yvr-wear {
		font-size: 2rem;
		padding-bottom: 2.5rem;
	}

	.mens-button{

		font-size: 0.35rem;
		padding: 0.3rem 0.8rem;

	}


	.womens-button {

		font-size: 0.35rem;
		padding: 0.3rem 0.4rem;
	
	}
}

@media screen and (max-width: 370px) {

	.hdr {
		font-size: 1.5rem;
		padding-bottom: 0.3rem;
	}

	.yvr-wear {
		font-size: 1.75rem;
		margin-bottom: 1.5rem;
	}

}

@media screen and (max-width: 390px) {

	.wp-block-quote p {
		inline-size: 10rem;
		overflow-wrap: break-word;
	}

}

@media screen and (min-width: 1024px) {

	.on-sale-preview-text p {
		position: absolute;
		top: 3.5rem;

}
}


@media screen and (max-width: 1824px) {

	.woocommerce-products-header__title.page-title {

    	top: 30%;

	}
}

@media screen and (max-width: 1000px) {

	.woocommerce-products-header__title.page-title {

		font-size: 5rem;
		top: 25%;
				
	}
}


@media screen and (max-width: 640px) {

	.woocommerce-products-header__title.page-title {

		font-size: 4rem;
		top: 20%;

}
}

@media screen and (max-width: 465px) {

	.woocommerce-products-header__title.page-title {

		font-size: 3rem;
		top: 20%;

}
}

@media screen and (max-width: 336px) {

	.woocommerce-products-header__title.page-title {

		font-size: 2rem;
		top: 25%;

}
}

@media screen and (min-width: 1025px) {

	.orderby {
		position: relative;
		left: -21.5rem;
	}

}

div > div > form > table > tbody > tr.woocommerce-cart-form__cart-item.cart_item > td.product-thumbnail > a > img{

	height: auto;
	width: auto;

}

@media screen and (max-width: 489px) {

	div > div > p.cart-empty.woocommerce-info{

		max-width: 19rem;

	}

}

@media screen and (min-width: 505px) {

#billing_company{

    position: relative;
    right: -6.7rem;
}

#billing_country{

	width: 11.9rem;
	position: relative;
	right: -9.9rem;

}

#billing_address_1{

	position: relative;
    right: -11.2rem;
    width: 11.9rem;

}

#billing_address_2{

	width: 11.9rem;
	position: relative;
	right: -18.1rem;

}


#billing_city{


	width: 11.9rem;
	position: relative;
	right: -12.5rem;

}


#billing_state{

	position: relative;
	right: -13.65rem;
    width: 11.9rem;

}

#billing_postcode{

	position: relative;
	right: -12.4rem;
	width: 11.9rem;
	

}

#billing_phone{

	position: relative;
    right: -14.65rem;
    width: 11.9rem;

}

#billing_phone{

	position: relative;
    right: -14.65rem;
    width: 11.9rem;
}



#billing_email{

	position: relative;
    right: -11.4rem;
    width: 11.9rem;

}


#shipping_company{

	position: relative;
    right: -6.6rem;
    width: 11.9rem;

}

#shipping_country{


	position: relative;
    right: -9.9rem;
    width: 11.9rem;

}

#shipping_address_1{

	position: relative;
	right: -11.2rem;
	width: 11.9rem;

}

#shipping_address_2{

	position: relative;
    right: -18.2rem;
    width: 11.9rem;

}

#shipping_city{

	position: relative;
	right: -12.65rem;
	width: 11.9rem;

}

#shipping_state{

	position: relative;
    right: -13.85rem;
    width: 11.9rem;

}

#shipping_postcode{

	position: relative;
	right: -12.65rem;
	width: 11.9rem;

}

#shipping_phone{

	position: relative;
    right: -11.1rem;
    width: 11.9rem;

}

#order_comments{

	margin-top: 1rem;

}
}



@media screen and (max-width: 767px) {

	#billing_first_name{

		position: relative;
		right: -13rem;
	
	}
	
	#billing_last_name{
	
		position: relative;
		right: -13rem;
	
	}
	
	#shipping_first_name{

		position: relative;
		right: -12.8rem;
		width: 11.9rem;
	
	}

	#shipping_last_name{

		position: relative;
		right: -12.9rem;
		width: 11.9rem;
	
	}

}


@media screen and (max-width: 505px) {

	#billing_first_name{

		position: relative;
		right: 0rem;
	
	}
	
	#billing_last_name{
	
		position: relative;
		right: 0rem;
	
	}
	
	#shipping_first_name{

		position: relative;
		right: 0rem;
	
	}

	#shipping_last_name{

		position: relative;
		right: 0rem;
	
	}

}

@media screen and (min-width: 767px) {
#billing_last_name_field{

	position: relative;
    right: -2.6rem;

}

#shipping_last_name_field{

	position: relative;
    right: -2.6rem;

}
}



#payment > ul{

	position: relative;
    left: -5.6rem;

}

#place_order{

	margin: auto;

}

@media screen and (max-width: 505px) {

	#payment > ul > li{

		max-width: 13.75rem;

	}

	div > div > div.woocommerce-form-coupon-toggle > div{

		max-width: 12rem;

	}

}



@media screen and (max-width: 505px) {
	#payment > div > div > div > p{

		text-align: center;
		position: relative;
		right: -1.8rem;

	}

	#place_order{

		position: relative;
		right: -1.8rem;	

	}
}

@media screen and (max-width: 560px) {

	.woocommerce-MyAccount-content {
		padding: 5rem;
	}

}

#post-525{

	padding-left: 2rem;
	padding-right: 2rem;

}