.login form{
    background-color: #e2e4ef;
    padding-top: 48px;
			border-color: #4ab3ff; 
        	padding-bottom: 23px;
			border-radius: 23px;
			border-width: 12px;
			border-style: double;
}

body.login {
background: #979fa6;

}