button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.button{

	padding: 0.5rem 0.5rem;
	color: white;
	background-color: rgb(00, 23, 93);
	text-decoration: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 0.85rem;
	font-weight: 500;
	border: rgb(00, 23, 93) solid 2px;
	text-align: center;
	border-radius: 50px;
	position: relative;
	top: -4rem;
	max-width: 150px;
}

@mixin CtaButtonStyling {

	color: white;
	background-color: rgb(00, 23, 93);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
	text-align: center;
	border-radius: 50px;

}

.home-page-button{

	@include CtaButtonStyling();

	padding: 1rem 2rem;
		
}

.accessories-button{

	@include CtaButtonStyling();

	padding: 1rem 2rem;
		
}

.sign-up-button{

	@include CtaButtonStyling();

	padding: 1rem 2rem;

}

.other-cta-buttons{

	padding: 0.75rem 2.75rem;
	text-align: center;
	position: relative;
	top: -20rem;


}

.mens-button{

	padding: 0.75rem 2.75rem;
	background-color: rgb(00, 23, 93);
	text-decoration: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
	text-align: center;
	border-radius: 50px;
	// border: rgb(00, 23, 93) 1px solid;
	// position: relative;
	// top: -38rem;
	float: left;
	margin-left: 7.5rem;
	position: relative;
	top: -4rem;
}

.cta-buttons a{

	color: rgb(223, 223, 223);

}

.womens-button{

	padding: 0.75rem 2rem;
	background-color: rgb(00, 23, 93);
	text-decoration: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
	text-align: center;
	border-radius: 50px;
	// position: relative;
	// top: -38rem;
	float: left;
	margin-left: 0.75rem;
	position: relative;
	top: -4rem;
}


.cta-buttons{

	text-align: center;

}

.on-sale-button{

	@include CtaButtonStyling();
	padding: 1rem 2rem;

	
}
