

a {
	font-family: 'Heebo', sans-serif;
	text-decoration: none;
	color: rgb(00, 23, 93);
	text-transform: uppercase;
	font-weight: 300;

	// &:visited {
	// 	color: rgb(00, 23, 93);
	// }

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
